# Exclude all files
*.*

# Exclude the output folder
client/dist
client/docs

**/package-lock.json

# Do not ignore the following files
!**/*.html
!**/*.css
!**/*.json
!**/*.js
!**/*.jsx
!**/*.ts
!**/*.tsx
